<form>
  <div class="form-group">
    <label>الإيميل</label>
    <input class="form-control" type="text" ng-model="User.email" placeholder="الإيميل"></input>
  </div>
  <div class="form-group">
    <button ng-click="forgotPassword(User)" class="btn btn-primary">ارسال كلمة المرور</button>
  </div>
</form>