<form>
  <div class="form-group">
    <label>أسم المستخدم</label>
    <input type="text" ng-model="User.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>كلمة المرور</label>
    <input type="password" ng-model="User.password" class="form-control" />
  </div>
  <button ng-click="login(User)" class="btn btn-primary">تسجيل دخول</button>
</form>
<br>

<a href="/register">سجل لحساب جديد</a> | <a href="/forgot_password">نسيت كلمة المرور؟</a>

<p>
  يسعدنا أنضمامك إلى الموقع في الفترة التجريبية ولكن يجب عليك صديقي
</p>