<form>
  <div class="form-group">
    <label>الأسم</label>
    <input type="text" ng-model="User.name" class="form-control" required />
  </div>
  <div class="form-group">
    <label>الإيميل</label>
    <input type="text" ng-model="User.email" class="form-control" required/>
  </div>
  <div class="form-group">
    <label>كلمة المرور</label>
    <input type="password" ng-model="User.password" class="form-control" required />
  </div>
  <div class="form-group">
    <label>تأكيد كلمة المرور</label>
    <input type="password" ng-model="User.password_confirmation" class="form-control" required />
  </div>
  <button ng-click="register(User)" class="btn btn-primary">تسجيل دخول</button>
</form>