<form>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="User.reset_password_token">
    <label>كلمة المرور</label>
    <input type="password" ng-model="User.password" class="form-control">
  </div>
  <div class="form-group">
    <label>تأكيد كلمة المرور</label>
    <input type="password" ng-model="User.password_confirmation" class="form-control">
  </div>
  <div class="form-group">
    <button ng-click="resetPassword(User)">حفظ</button>
  </div>
</form>