<div class="col-sm-9">
  <div ng-include="'/partials/posts/index.html?i=1000'"></div>
</div>

<div class="col-sm-3 world_info">
  <h1>{{world.title}}</h1>
  <p>{{world.about}}</p>
  <h3>القوانين</h3>
  <p>{{world.rules}}</p>
</div>