<div class="col-lg-1 sidebar" ng-controller="SideBarCtrl">
  <a href="#">
    <img src="/logo.png" class="logo img-responsive">
  </a>
  <ul class="worlds">
    <%= @worlds.each do |world| %>
    <li class="world">
      <%= link_to @world.title, world_path  %>
    </li>
    <% end %>
  </ul>
  <hr/>
  <a href="#/new" class="btn btn-primary col-sm-12">أضف رابط جديد</a>
  <a href="#/login" class="btn btn-success col-sm-12" ng-if="!user">تسجيل دخول</a>
  {{ user.name }}
</div>