<div ng-controller="SideBarCtrl">
  <div class="mainbar">
    <div class="sidebar" close-sidebar>

      <h3>ترتيب الروابط حسب : </h3>
      <ul class="nav nav-pills">
        <li ng-class="ifOrder('hot')"><a ng-click="setPostsOrder('hot')">الأكثر تصويتاً</a></li>
        <li ng-class="ifOrder('new')"><a ng-click="setPostsOrder('new')">الأحدث</a></li>
      </ul>
      <hr/>
      <ul class="worlds">
        <li class="world"><a href="/"><i class="fa fa-home"></i> الصفحة الرئيسية</a></li>
        <li ng-repeat="world in worlds" class="world">
          <a href="#/w/{{world.slug}}"><i class="{{world.icon}}"></i> {{world.title}}</a>
        </li>
        <li class="world"><a href="ws" title="">المزيد</a></li>
      </ul>
      <hr/>
      <ul class="nav nav-pills nav-stacked">
        <li ng-if="user"><a href="/new">أضف رابط جديد</a></li>
        <li ng-if="!user"><a href="/login">تسجيل دخول</a></li>
        <li ng-if="user"><a href="/logout">تسجيل خروج</a></li>
        <li ng-if="user"><a href="/me">{{ user.name }}</a></li>
      </ul>
      <hr/>
      <ul class="nav nav-pills nav-stacked">
        <li ><a href="/page/about">حول الموقع</a></li>
        <li>دع القائمة مرئية : <input type="checkbox" ng-model="barOpen" ng-value="barOpen" ng-change="keepBarOpen()"></li>
      </ul>
      <hr/>
    </div>
  </div>
  <div class="top_bar">
    <img src="/logo.png" class="logo img-responsive right" toggle-sidebar>
    <small class="links" toggle-sidebar><i class="fa fa-bars"></i> القائمة</small>
    <small class="links" close-sidebar><a href="/"><i class="fa fa-home"></i> الرئيسية</a></small>
    <small class="links" ng-if="user" close-sidebar>
      <a href="/new">
        <i class="fa fa-plus"></i> {{add_new_text()}} </a>
    </small>
  </div>
</div>