.cg-notify-message {
	position:fixed;
	left:10px;
	top:-50px;
	z-index: 9999;

	font-size:22px;
	font-weight: bold;
	text-shadow:1px 1px 3px rgba(255,255,255,1),-1px -1px 3px rgba(255,255,255,1),0px 0px 7px white;

	-webkit-transition: top 0.5s ease-out,opacity 0.5s ease-out;
	-moz-transition: top 0.5s ease-out,opacity 0.5s ease-out;
	-o-transition: top 0.5s ease-out,opacity 0.5s ease-out;
	transition: top 0.5s ease-out,opacity 0.5s ease-out;
}