/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require style
 *= require bootstrap_rtl
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap_rtl
 *= require angular-notify
 *= require_self
 */

@font-face {
  font-family: 'NotoKufiArabic-Regular';
  src: url('../fonts/NotoKufiArabic-Regular.ttf');
}

body,html{
  font-family: "Noto Kufi Arabic";
  height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a{
  cursor: pointer;
}