.body_bg{
}

.right{
  float: right;
}

.mainbar{
  background: white;
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 300px;
  padding: 90px 20px;
  display: none;
  border-left: 3px solid #eee;
  border-bottom: 3px solid #eee;
  height: 100%;
}

.top_bar{
  position: absolute;
  right:10px;
  padding-top:10px;
  height: 50px;
  z-index: 10000;
  cursor: pointer;
  background: whitesmoke;
}

.top_bar img{
width: 30px;
margin: -1px 10px 0;
}

.top_bar .links{
  margin: 17px 14px 0;
}

.view_area{
  position: relative;
  padding-top: 70px;
}

.world_icon_link{
  color: rgb(105, 95, 95);
}

.quick_menu{
  position: absolute;
  right: 180px;
  top: 27px;
}



.posts_list .post{
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.posts_list .post .title{
  margin-top: 0;
  text-shadow: 0px 0px 6px #fff;
}

.posts_list .post .title_and_site{
  margin-bottom: 10px;
}

.post h3.title {
  margin-bottom: 0;
}

.posts_list .post .title a{
  font-size:16px;
}


.posts_list .post .labels{
}


.posts_list .post .thumb{
  height: 100px;
  overflow: hidden;
  width: 100px;
  float: right;
  margin-left:5px;
}

.thumb img{
  width: 100%;
  height: 100%;
}

.new_post_thumb{
  width: 100px;
  height: 100%;
}

.new_post_thumb img{
  width: 100px;
  height: 100px;
}

.sidebar .worlds{
	padding: 0;
	list-style: none;
}

.worlds .world{
	padding:5px;
	background: rgb(220, 250, 223);
	border-radius: 5px;
	width: auto;
	margin-bottom: 5px;
}

.labels{
  padding: 0;
  font-size:10px;
  color: #ccc
}

.labels li a{
  color: #aaa
}

.labels li{
  list-style: none;
  float: right;
  margin-left: 10px;
}

.suggested_images_pane{
}

.comment{
  word-break: break-after;
}

.parent_comment .reply {
  margin-right: 10px;
  border-right: 1px solid #eee;
}

.comment .panel-heading{
  padding: 5px;
  font-size:10px;
}

#reply_form{
  display: none;
}

.selected_thumb {
  border: 5px solid green !important;
}

.new_comment .panel-heading{
  background: greenyellow !important;
}

.worlds_list{
  list-style: none;
}

.world_info{
  background: whitesmoke;
}