<div class="comment panel panel-default" id="comment_{{comment.id}}" ng-class="comment._class">
  <div class="panel-heading">
    #{{comment.id}} - {{comment.user.name}}
    - <span am-time-ago="comment.created_at" title="{{comment.created_at}}" class="time"></span>
    - <a ng-click="replyToComment(comment)">رد</a>
    <span ng-if="comment.parent_id">- رد على #{{comment.parent_id}}</span>
  </div>
  <div class="panel-body">{{comment.body}}</div>
</div>

<div ng-include="'/partials/comments/comment.html'" ng-repeat="comment in comment.comments track by $index" class="reply"></div>

