<form id="comment_form">
  <div class="form-group">
    <textarea class="form-control" ng-model="Comment.body" placeholder="التعليق"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" ng-click="createComment(Comment)">إرسل</button>
  </div>
</form>


<div class="comments">
  <div ng-include="'/partials/comments/comment.html?3'" ng-repeat="comment in comments track by $index" class="parent_comment"></div>
</div>

<form id="reply_form">
  <div class="form-group">
    <textarea class="form-control" ng-model="CommentReply.body" placeholder="التعليق"></textarea>
  </div>
    <input type="hidden" ng-model="CommentReply.parent_id">
  <div class="form-group">
    <button class="btn btn-primary" ng-click="createReplyComment(CommentReply)">إرسل</button>
    <button class="btn btn-primary" ng-click="cancelReply()">إلغاء</button>
  </div>
</form>

