<h3 ng-if="no_posts">لا يوجد حالياً محتوى داخل هذا العالم! ساهم في إثراء هذا المحتوى</h3>
<div class="posts_list">

  <!-- Post -->
  <div class="post" ng-repeat="post in posts">
      <div class="thumb">
        <a post-link>
          <img post-image="{{post.image}}">
        </a>
      </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-12 title_and_site">
          <h3 class="title"><a post-link>{{post.title}}</a></h3>
          <small> ({{post.link | domainName}})</small>
        </div>

        <div class="col-sm-12 ">
          <ul class="labels">

            <li class="votes">
              تصويت : <strong>{{post.votes || 0}}</strong> <a ng-click="vote(post)"><i class="fa fa-thumbs-up"></i></a>
            </li>

            <li class="comments"><a href="p/{{post.slug}}#comments">تعليقات : <strong>{{post.comments_count}}</strong></a></li>
            <li> الوقت : <strong><span am-time-ago="post.created_at" title="{{post.created_at}}" class="time" ></span></strong></li>
            <li class="user ">المرسل : <strong><a href="u/{{post.user.id}}">{{post.user.name}}</a></strong></li>
            <li class="world ">العالم : <strong><a href="w/{{post.world.slug}}">{{post.world.title}}</a></strong></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <!-- EO Post -->

</div>
<a ng-if="!no_posts" ng-click="morePosts()" class="btn btn-primary">المزيد</a>