<div class="col-sm-6">
  <form name="postForm">
    <div class="form-group">
      <label>العالم</label>
      <select ui-select2="select2Options" ng-model="Post.world_id" data-placeholder="الرجاء الإختيار" class="form-control" required>
        <option value=""></option>
        <option ng-repeat="world in worlds" value="{{world.id}}">{{world.title}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>العنوان</label>
      <input class="form-control" type="text" ng-model="Post.title" required />
    </div>
    <div class="form-group">
      <label>الرابط</label>
      <input class="form-control" type="url" ng-model="Post.link"/>
      <div class="btn-group">
        <a class="btn btn-primary" ng-click="fetchTitle(Post)" ng-if="linkIsThere()">إجلب العنوان</a>
        <a class="btn btn-primary" ng-click="fetchThumb(Post)" ng-if="linkIsThere()">إجلب الصورة</a>
      </div>
    </div>
    <div class="form-group">
      <label>النص</label>
      <textarea class="form-control" ng-model="Post.content_attributes.body"></textarea>
    </div>
    <button ng-click="createPost(Post)">إرسل</button>
  </form>
</div>
<div class="col-sm-6">
  <h3>ملاحظات حول الإضافة</h3>
  <p>في حال أضفت <strong>نص</strong> سيقوم النظام بتجاهل <strong>الرابط</strong>.</p>
  <p><strong>لا يمكنك تعديل الموضوع بعد إضافته</strong></p>


  <div ng-if="suggestedImages">
    <h4>صور مقترحة (الرجاء الضغط على الصورة لإختيارها)</h4>
    <h5>عدد الصور : {{suggestedImages.length}}</h5>
    <div class="col-sm-12 suggested_images_pane new_post_thumb">
      <div class="col-sm-3" ng-repeat="img in suggestedImages track by $index">
        <img  ng-src="{{img}}" class="img-responsive thumbnail" ng-click="setImage(Post,img,$event)">
      </div>
    </div>
  </div>
</div>