<div ng-if="post">
  <div class="row">
  <div class="col-sm-2">
    <img post-image="{{post.image || 'logo.png'}}">
  </div>
  <div class="col-sm-10 ">
    <h3><a post-link>{{post.title}}</a> <small>بواسطة : {{post.user.name}} , في : {{post.world.title}}</small></h3>
    <p>{{post.content.body}}</p>
    <ul class="labels">
      <li class="votes">
        تصويت : <strong>{{post.votes || 0}}</strong> <a ng-click="vote(post)"><i class="fa fa-thumbs-up"></i></a>
      </li>
      <li class="comments"><a href="p/{{post.slug}}#comments">تعليقات : <strong>{{post.comments_count}}</strong></a></li>
      <li> الوقت : <strong><span am-time-ago="post.created_at" title="{{post.created_at}}" class="time" ></span></strong></li>
      <li class="user ">المرسل : <strong><a href="u/{{post.user.id}}">{{post.user.name}}</a></strong></li>
      <li class="world ">العالم : <strong><a href="w/{{post.world.slug}}">{{post.world.title}}</a></strong></li>
    </ul>
  </div>
  </div>
  <hr/>
  <div ng-include="'/partials/comments/index.html?2'" ng-controller="CommentsCtrl"></div>
</div>