<!DOCTYPE html>
<html ng-app="PandaApp" lang="ar" dir="rtl">
<head>
  <title>صفر</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <base href="<%= root_url %>" >
  <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="body_bg" ng-controller="AppCtrl">



<div ng-include="'/partials/sidebar.html'"></div>


<div class="view_area container">
  <div ng-view class="col-lg-12" ng-cloak></div>
</div>
<script type="text/javascript">
  var ROOT_URL = "<%= root_url %>";
</script>
<%= javascript_include_tag 'application'%>
</body>
</html>